  /* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
  }
  

* {
margin: 0;
}

body {
line-height: 1.5;

-webkit-font-smoothing: antialiased;
}


img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

input, button, textarea, select {
font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}


#root, #__next {
isolation: isolate;
}

/* MULAI DARI SINI */

/* whatToEat swiper*/
.swipe{
perspective: 1000px;
perspective-origin: center 50%;
transform-style: preserve-3d;
}

.card{
width: 100%;
height: 100%;
position: absolute;
border-radius: 20px;
overflow: hidden;
transform: translateZ(calc(-30px * var(--i))) translateY(calc(-20px * var(--i))) rotate(calc(-4deg * var(--i)));
filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
cursor: pointer;
user-select: none;
transition: transform 0.3s;
}

.card img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

#like {
  color: red;
  
}

#dislike {
  color: #ccc;

}

.containerDislike{
  background-color: rgba(0, 0, 0, 0.5); 
}

.containerLike{
  background-color: rgba(225, 223, 223, 0.5);
}

.containerLike, .containerDislike{
  opacity: 0.2;
  transition: 1s;
 }

/* whatToEat draw */
:root {
    --bg: #f9f9f9;
    --table-color: #ecf0f1;
    --card-red: #e74c3c;
    --card-black: #333;
}



#frame {
    filter: blur(2px);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    perspective: 800px;
    transform-style: preserve-3d;  
    overflow: hidden;
}

#frame > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: .95em;
    position: absolute;
    top: 7.5%;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    user-select: none;  
    text-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
    z-index: 9999;
}

#table {
    position: relative;
    width: 90%;
    height: 90%;
    perspective: 1200px;
    transform: rotateY(0deg) rotateX(60deg);
    background: #ecf0f1;  
    box-shadow: 0 0 100px 100px #ecf0f1;  
}

.cardBackground {
  overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(150, 150, 150, 0.15);
}

