{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>WhyBandung?</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}
{% block content %}
<div class="relative font-sans pt-32 before:absolute before:w-full before:h-full before:inset-0 before:bg-black before:opacity-50 before:z-10">
  <img src="{% static 'image/mainbanner.png' %}" alt="Banner Image" class="absolute inset-0 w-full h-full object-cover"/>

  <div class="min-h-[350px] relative z-20 h-full max-w-6xl mx-auto flex flex-col justify-center items-center text-center text-white py-6">
    <img src="{% static 'image/logo.png' %}" alt="WhyBandung Logoo" class="h-32 object-contain">
    <br>
    <h2 class="sm:text-4xl text-2xl font-bold mb-6">Find The Best Culinary Destination</h2>

    <div class="flex overflow-hidden mx-auto font-[sans-serif]">
      <form method="get" action="{% url 'main:product_page' %}" class="flex items-center max-w-sm mx-auto">   
          <label for="name" class="sr-only">Search</label>
          <div class="relative w-full">
              <input type="text" name="name" id="name" value="{{ request.GET.name }}" 
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-0 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                     placeholder="Search food name..." required />
          </div>
          <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
              <span class="sr-only">Search</span>
          </button>
      </form>
    </div>
  </div>
</div>

<div class="overflow-hidden my-12">
    <h2 class="text-4xl font-extrabold text-gray-800 mt-6 mb-12 mx-auto p-4" >Traveler's Choice</h2>
    {% include 'carousel.html' %}
</div>

<div class="grid md:grid-cols-3 gap-6 min-h-[164px] py-8 p-16 font-sans overflow-hidden bg-cover bg-center" style="background-image: url('{% static "image/foodfinder.png" %}');">
  <div class="md:col-span-1 bg-red-web bg-opacity-80 p-6 rounded-lg">
    <h1 class="text-3xl font-bold text-white">A New Way to Find Delicacies</h1>
    <p class="text-base text-gray-200 mt-4">Try Our Automatic Card Recommendation</p>

    <a href="{% url 'card:WhatToEat' %}">
      <button type="button" class="py-3 px-6 text-sm font-semibold bg-white text-red-web hover:bg-slate-100 rounded-md mt-8">Try FoodFinder</button>
    </a>
  </div>
</div>


{% endblock content %}